
@import 'utils/variables';
// @import 'utils/functions';
// @import 'utils/mixins';
// @import 'utils/placeholders';

@import 'base/reset';
@import 'base/typography';

@import 'layout/navigations';
// @import 'layout/grid';
// @import 'layout/header';
// @import 'layout/footer';
// @import 'layout/forms';

// @import 'components/buttons';
// @import 'components/carousel';
// @import 'components/cover';
// @import 'components/dropdown';

// @import 'pages/home';
// @import 'pages/contact';

// @import 'themes/theme';
// @import 'themes/admin';



.localisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem 0;
  border-top: rgb(184, 176, 176) solid 2px;
  background: rgb(233, 227, 227);
  
  .fa-map-marker-alt {
    font-size: 1.2rem;
  }

  &_paragraph {
    margin: 0 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    opacity: 0.7;
  }
}

.reservation {
  display: flex;
  flex-direction: column;
  background: map-get($colors ,grey-background);
  padding: map-get($padding,section);

  &_title {
    text-align: center;
    font-size: map-get($font-size, title);
    font-weight: map-get($font-weight, title);
    margin: 0 5rem 2rem 5rem;
    line-height: 2.5rem;
  }

  &_paragraph {
    text-align: center;
    font-size: 1.5rem;
    opacity: 0.5;
    margin-bottom: 2rem;
    
  }

  &_button {
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    margin: 1rem auto;
    border-radius: 4em;
    padding: 1.5rem 2rem;
    color: white;
    font-weight: 600;
    background: map-get($colors, background-btn);
    border: none;
    cursor: pointer;
  }

}


.operation-section {
  padding: map-get($padding, section);

  &_title {
    font-size: map-get($font-size, title);
    font-weight: map-get($font-weight, title);
    padding: map-get($padding, title);

  }

  &_element {
    font-size: map-get($font-size, element);
    height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: map-get($colors, grey-background);
    border-radius: 20px;
    margin: 1.5rem;
    font-weight: 600;
    
    &:nth-child(4) {
      background: rgb(245, 235, 237);
    }
    

    .fas {
      position: absolute;
      left: 14%;
      opacity: 0.5;
    }

    .purple {
      color: purple;
    }

    &_number {
      position: absolute;
      border-radius: 50%;
      background: map-get($colors, primary);
      color: white;
      left: 4%;
      height: 2rem;
      width: 2rem;
      text-align: center;
    }
  }
}



