footer{
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 1.5rem 5%;


  & h2 {
    color: white;
    font-weight: normal;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    }

    :nth-child(2), :nth-child(3) {
      font-weight: bold;
    }

  & a{
      color: #ffffff;
      text-decoration: none;
      font-weight: normal;
      margin: 0.3rem 0;
      font-size: 1.2rem;
      
  }

  .fas, .far {
    margin-right: 1rem;
  }

}
