



/*Begin Header menus pages */

.header-container {
  position: relative;
  
}
.fa-arrow-left {
  position: absolute;
  font-size: 2.5rem;
  left: 5%;
  top: 25%;
  opacity: 0.8;
}

/*End Header menus pages */