header {
  width: 100%;
  

.header_logo {
  display: flex;
  width: 45%;
  margin: 0 auto;
  padding: 2rem 0 1rem 0;
}
}


@media (min-width: 700px) {

  header {

  .header_logo {
    width: 35%;
    max-width: 35rem;
  }

}
}