@charset "UTF-8";
/* gris choisis personellement, couleur à revalider */
.empty-heart, .restaurant-section_article_description .heart-empty, .menu_container-title .heart-empty {
  z-index: 1;
  background-color: white;
}

.empty-hover, .restaurant-section_article_description .heart-empty:hover, .menu_container-title .heart-empty:active {
  z-index: 1;
  opacity: 0;
}

.fill-heart, .restaurant-section_article_description .heart-fill, .menu_container-title .heart-fill {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(350deg, #FF79DA 0%, #9356DC 100%);
}

.fill-hover, .restaurant-section_article_description .heart-fill:hover, .menu_container-title .heart-fill:active {
  -webkit-animation: fill 0.3s ease-in-out;
          animation: fill 0.3s ease-in-out;
  opacity: 1;
  z-index: 2;
}

.reservation_button, .command_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem auto;
  border-radius: 4em;
  padding: 1.5rem 2rem;
  color: white;
  font-weight: 600;
  background: -webkit-gradient(linear, left top, left bottom, from(#e85ab4), to(#bd24f0));
  background: linear-gradient(#e85ab4, #bd24f0);
  border: none;
  cursor: pointer;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

h1, h2 {
  font-family: 'Shrikhand', cursive;
}

p, h3, h4 {
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100%;
}

header .header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  margin: 0 auto;
  padding: 2rem 0 1rem 0;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #353535;
  padding: 1.5rem 5%;
}

footer h2 {
  color: white;
  font-weight: normal;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

footer :nth-child(2), footer :nth-child(3) {
  font-weight: bold;
}

footer a {
  color: #ffffff;
  text-decoration: none;
  font-weight: normal;
  margin: 0.3rem 0;
  font-size: 1.2rem;
}

footer .fas, footer .far {
  margin-right: 1rem;
}

.reservation_button, .command_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem auto;
  border-radius: 4em;
  padding: 1.5rem 2rem;
  color: white;
  font-weight: 600;
  background: -webkit-gradient(linear, left top, left bottom, from(#e85ab4), to(#bd24f0));
  background: linear-gradient(#e85ab4, #bd24f0);
  border: none;
  cursor: pointer;
}

.reservation_button:hover, .command_button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#e43da7), to(#b20fe8));
  background: linear-gradient(#e43da7, #b20fe8);
}

.command_button {
  margin: 0 auto 6rem auto;
  padding: 1.5rem 4rem;
}

.command_button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#e43da7), to(#b20fe8));
  background: linear-gradient(#e43da7, #b20fe8);
}

.loader-container {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  right: 0;
  width: 100%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: fadeOut 2s forwards;
          animation: fadeOut 2s forwards;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loader {
  display: block;
  position: relative;
  width: 200px;
  height: 200px;
  border: 5px solid transparent;
  -webkit-animation: spinspin 2s infinite;
          animation: spinspin 2s infinite;
}

@-webkit-keyframes spinspin {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  30% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
  80% {
    -webkit-transform: rotateY(720deg);
            transform: rotateY(720deg);
  }
  100% {
    -webkit-transform: rotateY(1080deg);
            transform: rotateY(1080deg);
  }
}

@keyframes spinspin {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  30% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
  80% {
    -webkit-transform: rotateY(720deg);
            transform: rotateY(720deg);
  }
  100% {
    -webkit-transform: rotateY(1080deg);
            transform: rotateY(1080deg);
  }
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 0;
  border-top: #b8b0b0 solid 2px;
  background: #e9e3e3;
}

.localisation .fa-map-marker-alt {
  font-size: 1.2rem;
}

.localisation_paragraph {
  margin: 0 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  opacity: 0.7;
}

.reservation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f2f2f2;
  padding: 4rem 0.7rem 0rem 0.7rem;
}

.reservation_title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0 5rem 2rem 5rem;
  line-height: 2.5rem;
}

.reservation_paragraph {
  text-align: center;
  font-size: 1.5rem;
  opacity: 0.5;
  margin-bottom: 2rem;
}

.operation-section {
  padding: 4rem 0.7rem 0rem 0.7rem;
}

.operation-section_title {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0 0 1rem 1.5rem;
}

.operation-section_element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.7rem;
  height: 6rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f2f2f2;
  border-radius: 20px;
  margin: 1.5rem;
  font-weight: 600;
  -webkit-box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125), -0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
          box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125), -0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
}

.operation-section_element:hover {
  background-color: #f5ebed;
}

.operation-section_element:hover .fas {
  color: purple;
  opacity: 1;
}

.operation-section_element:hover .operation-section_element_number {
  background: #df00a1;
}

.operation-section_element .fas {
  position: absolute;
  left: 14%;
  opacity: 0.5;
}

.operation-section_element_number {
  position: absolute;
  border-radius: 50%;
  background: #9356DC;
  color: white;
  left: 3%;
  font-size: 1.5rem;
  height: 2.5rem;
  width: 2.5rem;
  text-align: center;
  line-height: 2.5rem;
}

.restaurant-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4rem 0.7rem 0rem 0.7rem;
  background: #f2f2f2;
}

.restaurant-section_title {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0 0 1rem 1.5rem;
  margin-bottom: 2rem;
}

.restaurant-section_article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
  height: 30%;
  margin: 0 auto 2rem auto;
  -webkit-box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125), -0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
          box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125), -0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 20px 20px 20px 20px;
}

.restaurant-section_article_img {
  height: 15rem;
  border-radius: 20px 20px 0 0;
  margin-bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant-section_article_description {
  background: white;
  border-radius: 0 0 20px 20px;
  padding: 1rem;
  position: relative;
}

.restaurant-section_article_description > p {
  font-size: 1.5rem;
  line-height: 2rem;
}

.restaurant-section_article_description :first-child {
  font-weight: bold;
}

.restaurant-section_article_description :nth-child(2) {
  opacity: 0.5;
}

.restaurant-section_article_description .fa-heart {
  font-size: 2.5rem;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  right: 1rem;
  bottom: 2rem;
}

/* Page la palette du goût */
.header-container {
  position: relative;
}

.fa-arrow-left {
  position: absolute;
  font-size: 2.5rem;
  left: 5%;
  top: 25%;
  opacity: 0.8;
}

.hero_image {
  height: 50vh;
  width: 100%;
}

.menu {
  position: absolute;
  top: -4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 35px 35px 0 0;
  position: relative;
  bottom: 0rem;
  padding: 4rem 0.7rem 0rem 0.7rem;
  background: white;
  width: 100%;
}

.menu_container-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.2rem;
  position: relative;
  margin-left: 2.5%;
}

.menu_container-title .fa-heart {
  font-size: 2.5rem;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: pointer;
  right: 8%;
  -ms-flex-item-align: center;
      align-self: center;
}

.submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.submenu_title {
  font-size: 1.6rem;
  font-weight: lighter;
  position: relative;
  text-transform: uppercase;
  margin: 2rem 0 1rem 2.5%;
}

.submenu_title:before {
  content: "";
  width: 3rem;
  height: .3rem;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: -0.5rem;
}

.submenu_title-1 {
  opacity: 0;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.submenu_title-2 {
  opacity: 0;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.submenu_title-3 {
  opacity: 0;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-delay: 3.8s;
          animation-delay: 3.8s;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.submenu_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.submenu_component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  border-radius: .75rem;
  -webkit-box-shadow: #ebe6e6 0.25rem 0.25rem 1rem, #ebe6e6 -0.25rem -0.25rem 1rem;
          box-shadow: #ebe6e6 0.25rem 0.25rem 1rem, #ebe6e6 -0.25rem -0.25rem 1rem;
  cursor: pointer;
  width: auto;
  margin: 1.5vh auto;
  width: 95%;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
}

.submenu_component-1 {
  opacity: 0;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.submenu_component-1:hover {
  background-color: #f2f2f2;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.submenu_component-2 {
  opacity: 0;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.submenu_component-2:hover {
  background-color: #f2f2f2;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.submenu_component-3 {
  opacity: 0;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.submenu_component-3:hover {
  background-color: #f2f2f2;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.submenu_component-4 {
  opacity: 0;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.submenu_component-4:hover {
  background-color: #f2f2f2;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.submenu_component-5 {
  opacity: 0;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.submenu_component-5:hover {
  background-color: #f2f2f2;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.submenu_component-6 {
  opacity: 0;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.submenu_component-6:hover {
  background-color: #f2f2f2;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.submenu_component-7 {
  opacity: 0;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-delay: 3.4s;
          animation-delay: 3.4s;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.submenu_component-7:hover {
  background-color: #f2f2f2;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.submenu_component-8 {
  opacity: 0;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-delay: 3.6s;
          animation-delay: 3.6s;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.submenu_component-8:hover {
  background-color: #f2f2f2;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.submenu_component-9 {
  opacity: 0;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-delay: 3.8s;
          animation-delay: 3.8s;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.submenu_component-9:hover {
  background-color: #f2f2f2;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.submenu_component_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.8rem;
}

.submenu_component_title {
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.6rem;
  font-weight: bold;
}

.submenu_component_text {
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.2rem;
  overflow: hidden;
  opacity: 0.8;
}

.submenu_component_text-and-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.submenu_component_text-and-price span {
  font-weight: bold;
}

.submenu_component:active .submenu_component_wrap {
  width: 15rem;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: width 0.4s ease-in-out 0.2s;
  transition: width 0.4s ease-in-out 0.2s;
}

.submenu_component:active .submenu_component_icon {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.submenu_component_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0 .75rem .75rem 0;
  cursor: pointer;
  width: 0;
  height: 100%;
  background-color: #99e2d0;
  overflow: hidden;
  margin-left: 2rem;
  padding: auto;
  padding: 2rem 0;
}

.submenu_component_icon {
  font-size: 2rem;
  color: white;
  -webkit-transition: -webkit-transform 0.4s 0.2s ease-in-out;
  transition: -webkit-transform 0.4s 0.2s ease-in-out;
  transition: transform 0.4s 0.2s ease-in-out;
  transition: transform 0.4s 0.2s ease-in-out, -webkit-transform 0.4s 0.2s ease-in-out;
}
/*# sourceMappingURL=main.css.map */