@charset "UTF-8";
/* gris choisis personellement, couleur à revalider */
.reservation_button, .command_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem auto;
  border-radius: 4em;
  padding: 1.5rem 2rem;
  color: white;
  font-weight: 600;
  background: -webkit-gradient(linear, left top, left bottom, from(#e85ab4), to(#bd24f0));
  background: linear-gradient(#e85ab4, #bd24f0);
  border: none;
  cursor: pointer;
}

.heart-hover, .button-heart-2 .fas, .menu_button-heart-2 .fas {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e85ab4), to(#bd24f0));
  background-image: linear-gradient(#e85ab4, #bd24f0);
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

h1, h2 {
  font-family: 'Shrikhand', cursive;
}

p, h3, h4 {
  font-family: 'Roboto', sans-serif;
}

.loader-container {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  right: 0;
  width: 100%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: fadeOut 2s forwards;
          animation: fadeOut 2s forwards;
}

.loader {
  display: block;
  position: relative;
  width: 75px;
  height: 75px;
  border: 5px solid transparent;
  -webkit-animation: spinspin 2s infinite;
          animation: spinspin 2s infinite;
}

/* animation disparition loader container */
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* animation spin loader */
@-webkit-keyframes spinspin {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  30% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
  80% {
    -webkit-transform: rotateY(720deg);
            transform: rotateY(720deg);
  }
  100% {
    -webkit-transform: rotateY(1080deg);
            transform: rotateY(1080deg);
  }
}
@keyframes spinspin {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  30% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
  80% {
    -webkit-transform: rotateY(720deg);
            transform: rotateY(720deg);
  }
  100% {
    -webkit-transform: rotateY(1080deg);
            transform: rotateY(1080deg);
  }
}

/* animation "entrées", "plats", "desserts" */
@-webkit-keyframes opacity-submenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opacity-submenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* animation choice in the menu */
@-webkit-keyframes opacity-submenu-component {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opacity-submenu-component {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header {
  width: 100%;
}

header .header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  margin: 0 auto;
  padding: 2rem 0 1rem 0;
}

@media (min-width: 700px) {
  header .header_logo {
    width: 35%;
    max-width: 35rem;
  }
}

/*Begin Header menus pages */
.header-container {
  position: relative;
}

.fa-arrow-left {
  position: absolute;
  font-size: 2.5rem;
  left: 5%;
  top: 30%;
  opacity: 0.8;
}

@media (min-width: 500px) {
  .fa-arrow-left {
    top: 45%;
  }
}

/*End Header menus pages */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #353535;
  padding: 1.5rem 5%;
}

footer .footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer h2 {
  color: white;
  font-weight: normal;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

footer :nth-child(2), footer :nth-child(3) {
  font-weight: bold;
}

footer a {
  color: #ffffff;
  text-decoration: none;
  font-weight: normal;
  margin: 0.3rem 0;
  font-size: 1.2rem;
}

footer .fas, footer .far {
  margin-right: 1rem;
}

@media screen and (min-width: 500px) {
  footer {
    text-align: center;
  }
  .footer-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  footer a {
    margin: 0.5rem 2rem;
  }
}

@media (min-width: 850px) {
  footer {
    padding: 4rem 0;
  }
  footer .footer-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 auto;
  }
  footer h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

.reservation_button, .command_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem auto 5rem auto;
  border-radius: 4em;
  padding: 1.5rem 2rem;
  color: white;
  font-weight: 600;
  background: -webkit-gradient(linear, left top, left bottom, from(#e85ab4), to(#bd24f0));
  background: linear-gradient(#e85ab4, #bd24f0);
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 3px 5px 10px #bebebe, -3px 5px 10px #bebebe;
          box-shadow: 3px 5px 10px #bebebe, -3px 5px 10px #bebebe;
}

.reservation_button:hover, .command_button:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#ed80c5), to(#cb50f4));
  background: linear-gradient(to right bottom, #ed80c5, #cb50f4);
  -webkit-box-shadow: 3px 5px 10px #8b8b8b, -3px 5px 10px #8b8b8b;
          box-shadow: 3px 5px 10px #8b8b8b, -3px 5px 10px #8b8b8b;
}

.command_button {
  margin: 0 auto 6rem auto;
  padding: 1.5rem 4rem;
}

.command_button:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#ed80c5), to(#cb50f4));
  background: linear-gradient(to right bottom, #ed80c5, #cb50f4);
  -webkit-box-shadow: 3px 5px 10px #8b8b8b, -3px 5px 10px #8b8b8b;
          box-shadow: 3px 5px 10px #8b8b8b, -3px 5px 10px #8b8b8b;
}

/*  Begin home presentation button  */
figure .fa-heart {
  font-size: 2.5rem;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  right: 1rem;
  bottom: 2rem;
}

.button-heart-1, .button-heart-2 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  right: 1rem;
  bottom: 0;
  background: none;
  border: none;
}

.button-heart-1 .far, .button-heart-2 .far {
  color: white;
  z-index: 2;
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: #FFFFFF;
}

.button-heart-1 .far.fa-heart, .button-heart-2 .far.fa-heart {
  font-size: 2rem;
}

.fa-heart:active.far,
.fa-heart:checked.far,
.fa-heart:focus.far,
.fa-heart:hover.far {
  -webkit-animation: apparition-hearts 1s ease-in-out forwards;
          animation: apparition-hearts 1s ease-in-out forwards;
}

@-webkit-keyframes apparition-hearts {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes apparition-hearts {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.button-heart-2 .fas.fa-heart {
  font-size: 2rem;
}

/*  End home presentation button  */
/******************** Begin button menu *********************/
.menu_button-heart-1, .menu_button-heart-2 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  right: 5%;
  background: none;
  border: none;
  top: 0.5rem;
}

.menu_button-heart-1 .far, .menu_button-heart-2 .far {
  z-index: 2;
  background: white;
  font-size: 2rem;
}

.menu_button-heart:active.far,
.menu_button-heart:checked.far,
.menu_button-heart:focus.far,
.menu_button-heart:hover.far {
  -webkit-animation: apparition-heart 1s ease-in-out forwards;
          animation: apparition-heart 1s ease-in-out forwards;
}

@-webkit-keyframes apparition-heart {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes apparition-heart {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.menu_button-heart-2 .fas {
  font-size: 2rem;
}

@media (min-width: 700px) {
  .menu_button-heart-1, .menu_button-heart-2,
  .menu_button-heart-2 {
    left: 80%;
  }
}

@media (min-width: 1000px) {
  .menu_button-heart-1, .menu_button-heart-2,
  .menu_button-heart-2 {
    left: 65%;
  }
}

/******************** End button menu *********************/
.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 0;
  border-top: #b8b0b0 solid 2px;
  background: #e9e3e3;
}

.localisation .fa-map-marker-alt {
  font-size: 1.2rem;
}

.localisation_paragraph {
  margin: 0 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  opacity: 0.7;
}

.reservation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f2f2f2;
  padding: 4rem 0.7rem 0rem 0.7rem;
}

.reservation_title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0 5rem 2rem 5rem;
  line-height: 2.5rem;
}

.reservation_paragraph {
  text-align: center;
  font-size: 1.5rem;
  opacity: 0.5;
  margin-bottom: 2rem;
}

.operation-section {
  padding: 4rem 0.7rem 0rem 0.7rem;
  margin-bottom: 5rem;
}

.operation-section_title {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0 0 1rem 1.5rem;
}

.operation-section_element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.7rem;
  height: 6rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f2f2f2;
  border-radius: 20px;
  margin: 1.5rem;
  font-weight: 600;
  -webkit-box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125), -0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
          box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125), -0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
}

.operation-section_element:hover {
  background-color: #f5ebed;
}

.operation-section_element:hover .fas {
  color: #9356DC;
  opacity: 1;
}

.operation-section_element .fas {
  position: absolute;
  left: 14%;
  opacity: 0.6;
}

.operation-section_element_number {
  position: absolute;
  border-radius: 50%;
  background: #9356DC;
  color: white;
  left: 3%;
  font-size: 1.5rem;
  height: 2.5rem;
  width: 2.5rem;
  text-align: center;
  line-height: 2.5rem;
  opacity: 1;
}

.restaurant-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4rem 0.7rem 0rem 0.7rem;
  background: #f2f2f2;
}

.restaurant-section_title {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0 0 1rem 1.5rem;
  margin-bottom: 2rem;
}

.restaurant-section_article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 95%;
  height: 30%;
  margin: 0 auto 2rem auto;
  -webkit-box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125), -0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
          box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125), -0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 20px 20px 20px 20px;
  position: relative;
}

.restaurant-section_article:last-child {
  margin-bottom: 5rem;
}

.restaurant-section_article:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.restaurant-section_article_img {
  height: 15rem;
  width: 100%;
  border-radius: 20px 20px 0 0;
  margin-bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant-section_article_new {
  position: absolute;
  font-size: 1.2rem;
  top: 1.5rem;
  right: 1.5rem;
  background-color: #99E2D0;
  color: #217460;
  padding: 0.5rem;
}

.restaurant-section_article_description {
  background: white;
  border-radius: 0 0 20px 20px;
  padding: 1rem;
  position: relative;
}

.restaurant-section_article_description > p {
  font-size: 1.5rem;
  line-height: 2rem;
}

.restaurant-section_article_description :first-child {
  font-weight: bold;
  font-size: 1.5rem;
}

.restaurant-section_article_description :nth-child(2) {
  opacity: 0.5;
}

@media (min-width: 600px) {
  .localisation {
    padding: 3rem;
  }
  .localisation .fa-map-marker-alt {
    font-size: 2rem;
  }
  .localisation_paragraph {
    font-size: 2rem;
  }
  .operation-section_title {
    text-align: center;
    font-size: 3rem;
    font-style: italic;
  }
  .operation_section_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .operation_section_container .operation-section_element {
    width: 80%;
    margin: 2rem auto;
  }
  .operation_section_container .operation-section_element .fas {
    position: absolute;
    left: 30%;
  }
  .operation_section_container .operation-section_element_number {
    position: absolute;
    border-radius: 50%;
    left: 15%;
  }
  .restaurant-section_title {
    position: relative;
    font-size: 3rem;
    left: 4rem;
    font-style: italic;
  }
  .restaurant-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .restaurant-section_article {
    width: 45%;
    margin-bottom: 5%;
  }
  .restaurant-section_article:last-child {
    margin-bottom: 5%;
  }
  .restaurant-section_article_img {
    height: 22vw;
  }
}

@media (min-width: 1000px) {
  .operation_section_container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .operation_section_container .operation-section_element {
    width: 30%;
  }
  .operation_section_container .operation-section_element_number {
    display: block;
    position: relative;
    left: -18%;
  }
  .operation_section_container .operation-section_element .fas {
    position: relative;
    left: -4rem;
  }
}

.hero_image {
  height: 70vw;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  position: absolute;
  top: -4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 35px 35px 0 0;
  position: relative;
  bottom: 0rem;
  padding: 4rem 0.7rem 0rem 0.7rem;
  background: white;
  width: 100%;
}

.menu_container-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.2rem;
  position: relative;
  margin-left: 2.5%;
}

.submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.submenu_title {
  font-size: 1.6rem;
  font-weight: lighter;
  position: relative;
  text-transform: uppercase;
  margin: 2rem 0 1rem 2.5%;
}

.submenu_title:before {
  content: "";
  width: 3rem;
  height: .3rem;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: -0.5rem;
}

.submenu_title-1 {
  opacity: 0;
  -webkit-animation-name: opacity-submenu;
          animation-name: opacity-submenu;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.submenu_title-2 {
  opacity: 0;
  -webkit-animation-name: opacity-submenu;
          animation-name: opacity-submenu;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.submenu_title-3 {
  opacity: 0;
  -webkit-animation-name: opacity-submenu;
          animation-name: opacity-submenu;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-delay: 3.8s;
          animation-delay: 3.8s;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.submenu_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.submenu_component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  border-radius: .75rem;
  -webkit-box-shadow: #ebe6e6 0.25rem 0.25rem 1rem, #ebe6e6 -0.25rem -0.25rem 1rem;
          box-shadow: #ebe6e6 0.25rem 0.25rem 1rem, #ebe6e6 -0.25rem -0.25rem 1rem;
  cursor: pointer;
  width: auto;
  margin: 1.5vh auto;
  width: 95%;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
}

.submenu_component-1 {
  opacity: 0;
  -webkit-animation-name: opacity-submenu-component;
          animation-name: opacity-submenu-component;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.submenu_component-1:hover {
  background-color: #f2f2f2;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.submenu_component-2 {
  opacity: 0;
  -webkit-animation-name: opacity-submenu-component;
          animation-name: opacity-submenu-component;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.submenu_component-2:hover {
  background-color: #f2f2f2;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.submenu_component-3 {
  opacity: 0;
  -webkit-animation-name: opacity-submenu-component;
          animation-name: opacity-submenu-component;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.submenu_component-3:hover {
  background-color: #f2f2f2;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.submenu_component-4 {
  opacity: 0;
  -webkit-animation-name: opacity-submenu-component;
          animation-name: opacity-submenu-component;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.submenu_component-4:hover {
  background-color: #f2f2f2;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.submenu_component-5 {
  opacity: 0;
  -webkit-animation-name: opacity-submenu-component;
          animation-name: opacity-submenu-component;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.submenu_component-5:hover {
  background-color: #f2f2f2;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.submenu_component-6 {
  opacity: 0;
  -webkit-animation-name: opacity-submenu-component;
          animation-name: opacity-submenu-component;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.submenu_component-6:hover {
  background-color: #f2f2f2;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.submenu_component-7 {
  opacity: 0;
  -webkit-animation-name: opacity-submenu-component;
          animation-name: opacity-submenu-component;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-delay: 3.4s;
          animation-delay: 3.4s;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.submenu_component-7:hover {
  background-color: #f2f2f2;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.submenu_component-8 {
  opacity: 0;
  -webkit-animation-name: opacity-submenu-component;
          animation-name: opacity-submenu-component;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-delay: 3.6s;
          animation-delay: 3.6s;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.submenu_component-8:hover {
  background-color: #f2f2f2;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.submenu_component-9 {
  opacity: 0;
  -webkit-animation-name: opacity-submenu-component;
          animation-name: opacity-submenu-component;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-delay: 3.8s;
          animation-delay: 3.8s;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.submenu_component-9:hover {
  background-color: #f2f2f2;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.submenu_component_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.8rem;
}

.submenu_component_title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.6rem;
  font-weight: bold;
}

.submenu_component_text {
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.2rem;
  overflow: hidden;
  opacity: 0.8;
}

.submenu_component_text-and-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.submenu_component_text-and-price span {
  font-weight: bold;
}

.submenu_component:active .submenu_component_wrap {
  width: 15rem;
  -webkit-transition: width 0.4s 0.2s ease-in-out;
  transition: width 0.4s 0.2s ease-in-out;
}

.submenu_component:active .submenu_component_icon {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.submenu_component_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0 .75rem .75rem 0;
  cursor: pointer;
  width: 0;
  height: 100%;
  background-color: #99e2d0;
  overflow: hidden;
  margin-left: 2rem;
  padding: 2rem 0;
  -webkit-transition: width 0.4s 0.2s ease-in-out;
  transition: width 0.4s 0.2s ease-in-out;
}

.submenu_component_icon {
  font-size: 2rem;
  color: white;
  -webkit-transition: -webkit-transform 0.4s 0.2s ease-in-out;
  transition: -webkit-transform 0.4s 0.2s ease-in-out;
  transition: transform 0.4s 0.2s ease-in-out;
  transition: transform 0.4s 0.2s ease-in-out, -webkit-transform 0.4s 0.2s ease-in-out;
}

@media (min-width: 500px) {
  .hero_image {
    height: 60vw;
  }
}

@media (min-width: 700px) {
  .hero_image {
    height: 50vw;
    max-height: 50rem;
  }
  .menu {
    margin: 0 auto;
  }
  .menu .menu_container-title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu_container-title {
    margin-bottom: 5rem;
  }
  .submenu {
    margin: 0 0;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .submenu .submenu_component {
    width: 70%;
    margin: 1rem auto;
  }
  .submenu_title {
    text-align: center;
    margin: 3rem auto;
  }
  .submenu_title::before {
    position: absolute;
    left: 0;
    width: 7rem;
  }
}

@media (min-width: 1000px) {
  .submenu_container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .submenu_container .submenu_component {
    width: 90%;
  }
  .submenu_component_header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=main.css.map */