
.loader-container {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  right: 0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeOut 2s forwards;
  
}


.loader {
  display: block;
  position: relative;
  width: 75px;
  height: 75px;
  border: 5px solid transparent;
  animation: spinspin 2s infinite;
}





/* animation disparition loader container */

@keyframes fadeOut{
    
  0% {
    opacity: 1;
  }


  80% {
    opacity: 0.9;
  }

  90% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }

}


/* animation spin loader */ 


@keyframes spinspin{
    
  0% {
    transform: rotateY(0);
  }

  30% {
    transform: rotateY(360deg);
  }

  80% {
    transform: rotateY(720deg);
  }


  100% {
   transform: rotateY(1080deg)
  }

}

/* animation "entrées", "plats", "desserts" */

@keyframes opacity-submenu{
  from{
      opacity: 0;
  }

  to{
      opacity: 1;
  }
}

/* animation choice in the menu */

@keyframes opacity-submenu-component {
  from{
      opacity: 0;
  }

  to{
      opacity: 1;
  }
}
