$colors: (primary:#9356DC, secondary: #FF79DA, third:#99E2D0, grey-background:#f2f2f2, background-btn: linear-gradient(#e85ab4, #bd24f0));
$padding: (section: 4rem 0.7rem, card: 1rem 1rem, element: 1rem 1rem, title: 0 0 1rem 1.5rem);
$font-size: (title: 1.8rem, element: 1.7rem);
$font-weight: (title: bold); 

/* gris choisis personellement, couleur à revalider */ 